<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class='descr'>Use this site to get your weather!</p>
        <form class="form-address" action="#">
            <input required class="address" name='address' type="text" placeholder="Address">
            <button class="getForecast">Forecast</button>
        </form>
        <div class="info-block">
            <p class='msg1'></p>
            <p class='msg2'></p>
        </div>
    </div>
    {{>footer}}
    
    <script src='/js/script.js'></script>
</body>
</html>